Checks: >
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-macro-parentheses,
  -bugprone-parent-virtual-call,
  -bugprone-signed-char-misuse,
  -bugprone-narrowing-conversions,
  clang-diagnostic-*,
  -clang-diagnostic-implicit-fallthrough,
  -clang-diagnostic-weak-template-vtables,
  -clang-diagnostic-implicit-int-conversion,
  clang-analyzer-*,
  -clang-analyzer-alpha*,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-pass-by-value,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  -readability-avoid-const-params-in-decls,
  -readability-braces-around-statements,
  -readability-convert-member-functions-to-static,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-make-member-function-const,
  -readability-named-parameter,
  -readability-redundant-declaration,
  -readability-uppercase-literal-suffix
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1
FormatStyle: 'file'
