[Desktop Entry]
Name=Exult Studio
Comment=Exult game engine editor
Exec=exult_studio
Icon=info.exult.exult.studio
Terminal=false
Type=Application
Categories=Game;RolePlaying;
